<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        var Foods = new List<string>
            { 
                "Appple Pie",
                "Burritos",
                "Clams Casino",
                "Donuts"
            };
        foreach (string food in Foods)
        {
            char ch1 = 'C';
            if(food[0] == ch1){
                <p style="color:red;">@food</p>
            }
            else{
            <p>@food</p>
            }
        }
    }
</body>
</html>